<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="{{base_path}}" >Doraemon </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="{{base_path}}/salary">Tính lương</a></li>
                <li role="presentation"><a href="{{base_path}}/schedules">Quản lý lịch làm việc</a></li>
                <li role="presentation"><a href="{{base_path}}/shifts">Quản lý các loại ca</a></li>
                <li role="presentation"><a href="{{base_path}}/attendance/all">Lịch sử chấm công</a></li>
                <li role="presentation"><a href="{{base_path}}/attendance/listSchedules">Chấm công nhân viên</a></li>
                <li role="presentation"><a href="{{base_path}}/account">Quản lý tài khoản</a></li>
                <li role="presentation"><a href="{{base_path}}/storageHistory">Lịch sử xuất nhập kho</a></li>
                <li role="presentation"><a href="{{base_path}}/storage">Quản lý kho</a></li>
                <li role="presentation"><a href="{{base_path}}/logout">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</nav>