<div class="shift-panel {{ timeAt }}">
	{{#isAdmin}}
		<div class="name text-center">
			{{ Name }}
		</div>
		<div class="time text-center">
			{{ Time_start }} - {{ Time_end }}
		</div>
		<div class="text-center" style="font-size: 1.5em">
			<i class="fa fa-trash" data-toggle="modal" data-target="#deleteModal" style="cursor: pointer" data-uid="{{Uid}}" data-date="{{Date}}" data-shiftId="{{ShiftId}}"></i>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			<a href="{{base_path}}/schedules/shift/find/{{scheduleInfo.Id}}/{{ShiftId}}/{{DayOfWeek}}" style="color: inherit;">
				<i class="fa fa-list" style="cursor: pointer; color: inherit;"></i>
			</a>
		</div>
	{{/isAdmin}}
	{{^isAdmin}}
		<div class="name text-center">
			{{ Name }}
		</div>
		<div class="time text-center">
			{{ Time_start }} - {{ Time_end }}
		</div>
		<div class="text-center" style="font-size: 1.5em">
			<a href="{{base_path}}/schedules/shift/find/{{scheduleInfo.Id}}/{{ShiftId}}/{{DayOfWeek}}" style="color: inherit;">
				<i class="fa fa-list" style="cursor: pointer; color: inherit;"></i>
			</a>
		</div>
	{{/isAdmin}}
</div>