body#background{
  background:url(../../assets/img/coffe2.jpg) no-repeat;
  background-size:100% 120%;
  width:100%;
  height:100%;
}

h1#tbl_quanly.text-center{
  color:#2980b9;
  z-index:10000;
}
.shift-panel{
  display: block; 
  border-radius: 5px;
  margin-top: 2px;
  color: white;
}
.shift-panel.morning{
  background-color: #3498db;
}
.shift-panel.afternoon{
  background-color: #e67e22;
}
.shift-panel.night{
  background-color: #2c3e50;
}
div#mask{
  width:100%;
  height:100%;
  position:absolute;
  background-color:#34495e;
  top:0;
  opacity:0.1;
  z-index:-1;
}

html{
  height:100%;
}

