body#background{
  background:url(../../assets/img/coffe3.jpg) no-repeat;
  background-size:130% 140%;
  width:100%;
  height:100%;
}

h1#tbl_quanly.text-center{
  color:white;
  z-index:10000;
}

div#mask{
  width:100%;
  height:100%;
  position:absolute;
  background-color:#34495e;
  top:0;
  opacity:0.1;
  z-index:-1;
}

div#login-panel.container-fluid{
  z-index:10;
}

div#form.col-md-6.col-md-offset-3{
  z-index:100;
}

h1.text-center.text-success{
  z-index:100;
}

h2.text-center{
  color:#1c56b2;
}

h1.text-center.text-danger{
}

h1#title.text-center.text-danger{
}

label#lb_pass.control-label{
  color:black;
}

label#lb_username.control-label{
  color:black;
}

html{
  height:100%;
}

