{{> head}}
<body>
    {{#isAdmin}}
        {{> AdminNav}}
    {{/isAdmin}}
    {{^isAdmin}}
        {{> EmployeeNav}}
    {{/isAdmin}}
    <h3>
    Ca: {{shiftName}} ({{shiftStartTime}} -> {{shiftEndTime}})
    </h3>
    <h3>
    Lịch: {{ScheduleName}}
    </h3>
    <h3>
    Ngày: {{dayOfWeek}} ({{date}})
    </h3>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">Tên nhân viên</th>
                </tr>
            </thead>
            <tbody>
                {{#employees}}
                <tr>
                    <td class="text-center">{{empName}}</td>
                </tr>
                {{/employees}}
            </tbody>
        </table>
    </div>
</body>
{{> bottom}}