{{> head}}

<body id="color_background">
	{{> EmployeeNav}}
    <div class="container">
        <h1 class="text-center" id="tbl_quanly">Nhân Viên</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a class="btn btn-info btn-block btn-lg" href="{{base_path}}/attendance" type="button" id="btn_chamcong">Chấm Công</a>
                <a class="btn btn-warning btn-block btn-lg" href="{{base_path}}/schedules" type="button" id="btn_lichlamviec">Lịch Làm Việc</a>
            </div>
        </div>
    </div>
</body>
{{> bottom}}