{{> head}}
<body>
    {{#isAdmin}}
        {{> AdminNav}}
    {{/isAdmin}}
    {{^isAdmin}}
        {{> EmployeeNav}}
    {{/isAdmin}}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Chấm công nhân viên</h1>
            <h1 class="text-center">Lịch: {{scheduleInfo.Name}}</h1>
            <h1 class="text-center">Ngày: {{strDayOfWeek}} ({{currentDateVN}})</h1>
        </div>
        <div class="col-md-12">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Các ngày&nbsp;
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {{#dayOfWeek}}
                        <li><a href="{{base_path}}/attendance/scheduleDetails/{{scheduleInfo.Id}}/{{day.asNumber}}">{{day.asWord}}</a></li>
                    {{/dayOfWeek}}
                </ul>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên nhân viên</th>
                            <th>Tên ca</th>
                            <th>Tình trạng</th>
                            <th>Giờ vào</th>
                            <th>Giờ ra</th>
                            <th>Ghi chú</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#employees}}
                        <tr>
                            <td>{{user.DisplayName}}</td>
                            <td>{{shift.Name}}<br>{{shift.Time_start}} - {{shift.Time_end}}</td>
                            <td>
                                <form>
                                <radiogroup>
                                    {{#checked}}
                                    <input type="radio" name="status" value="check" class="status" checked /> Có đi làm <br>
                                    <input type="radio" name="status" value="nocheck" class="status"/> Không đi làm
                                    {{/checked}}
                                    {{^checked}}
                                    <input type="radio" name="status" value="check" class="status"  /> Có đi làm <br>
                                    <input type="radio" name="status" value="nocheck" class="status" checked/> Không đi làm
                                    {{/checked}}

                                </radiogroup>
                                </form>
                            </td>
                            <td>
                                <input type="number" class="time_in_hour form-control" value="{{time_in_hour}}" style="width: 100px; display: inline"/> : 
                                <input type="number" class="time_in_minute form-control" value="{{time_in_minute}}" style="width: 100px; display: inline" />
                            </td>
                            <td>
                                <input type="number" class="time_out_hour form-control" value="{{time_out_hour}}" style="width: 100px; display: inline" /> : 
                                <input type="number" class="time_out_minute form-control" value="{{time_out_minute}}" style="width: 100px; display: inline" />
                            </td>
                            <td>
                                <textarea class="form-control note">{{note}}</textarea>
                            </td>
                            <td>
                                <button class="checkBtn btn btn-primary" data-date="{{currentDate}}" data-uid="{{user.Id}}" data-shiftid="{{shift.Id}}" id="update">Cập nhật</button>
                            </td>
                        </tr>
                        {{/employees}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{{> bottom}}