<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empmanager</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1>Quản lý tài khoản nhân viên</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã số nhân viên</th>
                            <th>phòng Ban</th>
                            <th>Chi nhánh</th>
                            <th>Ngày sinh</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                            <td>Cell 4</td>
                            <td>Cell 5</td>
                            <td>Cell 6</td>
                            <td>
                                <button class="btn btn-info" type="button">Sửa Thông tin nhân viên</button>
                                <button class="btn btn-danger" type="button">Xóa nhân viên</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 2</td>
                            <td>Cell 4</td>
                            <td>Cell 4</td>
                            <td>Cell 5</td>
                            <td>Cell 6</td>
                            <td>
                                <button class="btn btn-info" type="button">Sửa Thông tin nhân viên</button>
                                <button class="btn btn-danger" type="button">Xóa nhân viên</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>