<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editShift</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1 class="text-center">Chỉnh sửa ca</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="bootstrap-form-with-validation">
                <div class="form-group">
                    <label class="control-label" for="text-input">Tên ca</label>
                    <input class="form-control" type="text" name="text-input" id="text-input">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password-input">Giờ bắt đầu</label>
                    <input class="form-control" type="password" name="password-input" id="password-input">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email-input">Giờ kết thúc</label>
                    <input class="form-control" type="email" name="email-input" id="email-input">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Lưu </button>
                </div>
            </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>