<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shiping</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Shiping.css">
</head>

<body>
    <h1 class="text-center">Quản Lý giao hàng</h1>
    <div class="row">
        <div class="col-md-6">
            <form>
                <h4>Địa chỉ giao hàng:</h4>
                <input class="form-control" type="text">
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <h4>Số điện thoại:</h4>
                <input class="form-control" type="text">
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <h4>Giá tiền đơn hàng:</h4>
                <input class="form-control" type="text">
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <h4>Phí ship:</h4>
                <input class="form-control" type="text">
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <h4>Số ly:</h4>
                <input class="form-control" type="text">
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <h4>Km:</h4>
                <input class="form-control" type="text">
            </form>
        </div>
        <div class="col-md-12">
            <form>
                <h4>Người giao:</h4>
                <input class="form-control" type="text">
            </form>
        </div>
    </div>
    <button class="btn btn-danger btn-lg" type="button">Ký hóa đơn </button>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>