<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ view_path }}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ view_path }}/assets/css/styles.css">
    <link rel="stylesheet" href="{{ view_path }}/assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="{{ view_path }}/assets/css/untitled.css">
    <link rel="stylesheet" href="{{ view_path }}/assets/css/untitled-1.css">
    <link rel="stylesheet" href="{{ view_path }}/assets/css/untitled-2.css">
    <link rel="stylesheet" href="{{ view_path }}/assets/css/untitled-3.css">
</head>

<body id="login">
    <div id="mask"></div>
    <div class="container-fluid" id="login-panel">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="form">
                <h1 class="text-center" id="title">Doraemon </h1>
                <form class="bootstrap-form-with-validation" method="post">
                    <h2 class="text-center">Đăng nhập</h2>
                    {{#hasError}}
                    <div class="alert alert-danger">
                        <strong>Error !</strong> 
                        {{error}}
                    </div>
                    {{/hasError}}
                    <div class="form-group">
                        <label class="control-label" for="text-input" id="lb_username">Tên đăng nhập</label>
                        <input class="form-control" type="text" name="userName" id="text-input">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password-input" id="lb_pass">Mật khẩu</label>
                        <input class="form-control" type="password" name="passWord" id="password-input">
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg" type="submit">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>