{{> head}}
<link rel="stylesheet" href="{{view_path}}/assets/css/styles_1.css">
<body>
    {{#isAdmin}}
        {{> AdminNav}}
    {{/isAdmin}}
    {{^isAdmin}}
        {{> EmployeeNav}}
    {{/isAdmin}}
    <div>
        <div class="col-md-12 text-center">
            <h3>{{ scheduleInfo.Name }}</h3>
        </div>
        <div style="margin-left: 10px; display: inline-flex;">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Danh sách lịch&nbsp;
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {{#otherSchedule}}
                        <li><a href="{{base_path}}/schedules/{{Id}}">{{Name}}</a></li>
                    {{/otherSchedule}}
                </ul>
            </div>
            {{#isAdmin}}
            <button style="margin-left: 10px;" class="btn btn-info" data-toggle="modal" data-target="#addScheduleModal">Thêm lịch</button>
            <button style="margin-left: 10px;" class="btn btn-info" data-toggle="modal" data-target="#addModal">Thêm ca làm</button>
            <button style="margin-left: 10px;" class="btn btn-info" data-toggle="modal" data-target="#editScheduleModal">Sửa tên lịch này</button>
            <button style="margin-left: 10px;" class="btn btn-danger" data-toggle="modal" data-target="#deleteScheduleModal">Xóa lịch này</button>
            
            {{/isAdmin}}
        </div>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Employee </th>
                        <th class="text-center">Thứ 2</th>
                        <th class="text-center">Thứ 3</th>
                        <th class="text-center">Thứ 4</th>
                        <th class="text-center">Thứ 5</th>
                        <th class="text-center">Thứ 6</th>
                        <th class="text-center">Thứ 7</th>
                        <th class="text-center">Chủ nhật</th>
                    </tr>
                </thead>
                <tbody>
                    {{#schedules}}
                        <tr id="e{{Uid}}">
                            <td>{{DisplayName}}</td>
                            {{#Shifts}}
                                <td>
                                    {{#t2}}         
                                        {{> shift}}
                                    {{/t2}}
                                </td>
                                <td>
                                    {{#t3}}         
                                        {{> shift}}
                                    {{/t3}}
                                </td>
                                <td>
                                    {{#t4}}         
                                        {{> shift}}
                                    {{/t4}}
                                </td>
                                <td>
                                    {{#t5}}         
                                        {{> shift}}
                                    {{/t5}}
                                </td>
                                <td>
                                    {{#t6}}         
                                        {{> shift}}
                                    {{/t6}}
                                </td>
                                <td>
                                    {{#t7}}         
                                        {{> shift}}
                                    {{/t7}}
                                </td>
                                <td>
                                    {{#t8}}         
                                        {{> shift}}
                                    {{/t8}}
                                </td>
                            {{/Shifts}}
                        </tr>
                    {{/schedules}}
                </tbody>
            </table>
        </div>
    </div>
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bạn có chắc ?</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa ca này ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger deleteShift" data-dismiss="modal">Xóa</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Thôi không xóa</button>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteScheduleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cảnh báo !</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn xóa lịch này ?</p>
                </div>
                <form action="{{base_path}}/schedules/delete" method="post">
                <div class="modal-footer">
                    <input type="hidden" name="scheduleId" value="{{scheduleInfo.Id}}">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Thôi không xóa</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="addScheduleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm lịch làm việc</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="addScheduleForm">
                        <span id="bug"></span>
                        <div class="form-group">
                            <label for="scheduleName">Tên lịch</label>
                            <input type="text" class="form-control" name="name" required />
                        </div>
                        <div class="form-group">
                            <label for="scheduleStart">Ngày bắt đầu</label>
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" id="scheduleDateStart" name="date_start">
                                <div class="input-group-addon">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Không thêm</button>
                    <button type="submit" class="btn btn-info">Thêm</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="editScheduleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sửa tên lịch làm việc</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{base_path}}/schedules/edit">
                        <div class="form-group">
                            <label for="scheduleName">Tên lịch</label>
                            <input type="text" class="form-control" name="name"/>
                            <input type="hidden" name="scheduleId" value="{{scheduleInfo.Id}}">
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thôi không lưu</button>
                    <button type="submit" class="btn btn-info">Lưu</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="CantAddShiftModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chú ý</h4>
                </div>
                <div class="modal-body">
                    <p>Đã có ca ở ngày đó rồi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm ca làm</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="employees">Nhân viên</label>
                        <select class="form-control" id="employees">
                            {{#employees}}
                                <option value={{Id}}>{{DisplayName}}</option>
                            {{/employees}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="shifts">Loại ca</label>
                        <select class="form-control" id="shifts">
                            {{#allShifts}}
                                <option value={{Id}}>{{Name}} ({{Time_start}} - {{Time_end}})</option>
                            {{/allShifts}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dates">Ngày</label>
                        <select class="form-control" id="dates">
                            <option value="2">Thứ 2</option>
                            <option value="3">Thứ 3</option>
                            <option value="4">Thứ 4</option>
                            <option value="5">Thứ 5</option>
                            <option value="6">Thứ 6</option>
                            <option value="7">Thứ 7</option>
                            <option value="8">Chủ nhật</option>
                        </select>
                    </div>
                    <input type="hidden" id="scheduleId" value="{{scheduleInfo.Id}}" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="addBtn" data-dismiss="modal">Thêm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Không thêm</button>
                </div>
            </div>
        </div>
    </div>
</body>
{{> bottom}}