{{> head}}
<body>
  {{#isAdmin}}
  {{> AdminNav}}
  {{/isAdmin}}
  {{^isAdmin}}
  {{> EmployeeNav}}
  {{/isAdmin}}
  <a href="{{base_path}}/storage/product/add" class="btn btn-info">Thêm sản phẩm</a>
  <div class="table-responsive">
    <table class="table table-bordered" id="productList">
      <thead>
        <tr>
          <th>tên hàng</th>
          <th>kho nhà</th>
          <th>kho quán</th>
          <th>đơn giá</th>
          {{#isAdmin}}
          <th>cần nhập</th>
          <th>số lượng nhập</th>
          <th>tổng tiền</th>
          {{/isAdmin}}
          <th>thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#data}}
        <tr class="product" id="{{product_id}}">
          <td class="productName">{{product_name}}</td>
          <td>{{product_amount_storage_1}}</td>
          <td>{{product_amount_storage_2}}</td>
          <td class="price">{{product_price}} vnđ</td>
          {{#isAdmin}}
          <td>
            {{#temp_storage_home}}
              <input type="checkbox" checked id="home" /> Kho nhà <br>
            {{/temp_storage_home}}
            {{^temp_storage_home}}
              <input type="checkbox" id="home" /> Kho nhà <br>
            {{/temp_storage_home}}
            {{#temp_storage_work}}
              <input type="checkbox" checked id="work" /> Kho quán
            {{/temp_storage_work}}
            {{^temp_storage_work}}
              <input type="checkbox" id="work" /> Kho quán
            {{/temp_storage_work}}
          </td>
          <td class="amount">
            <input type="number" value="{{temp_amount}}" class="form-control" onkeyup="oneDot(this)">
          </td>
          <td class="total">0 vnđ</td>
          {{/isAdmin}}
          <td>
            <button class="btn btn-success exportBtn" type="button" data-target="#exportProductModal" data-toggle="modal" data-name="{{product_name}}" data-id="{{product_id}}">Xuất </button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" data-target="#deleteProductModal" data-toggle="modal" data-name="{{product_name}}" data-id="{{product_id}}" type="button">Xóa </button>
            &nbsp;&nbsp;
            <a href="{{base_path}}/storage/product/edit/{{product_id}}" class="btn btn-info">
              Sửa
            </a>
          </td>
        </tr>
        {{/data}}
      </tbody>
    </table>
    {{#isAdmin}}
    <button class="btn btn-info" onclick="addToImportList()" type="button" style="float: right; margin-right: 10px; clear: both">thêm vào danh sách</button>
    <br>
    <br>
    <h1>danh sách cần nhập</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>tên hàng</th>
          <th>đơn giá</th>
          <th>nhập vào</th>
          <th>số lượng nhập</th>
          <th>tổng tiền</th>
          <th>thao tác</th>
        </tr>
      </thead>
      <tbody id="importList">
      </tbody>
    </table>
    <div style="font-size: 1.3em; text-align: center; width: 100%">
      Tổng tiền: <span id="total">0</span>
    </div>
    <button class="btn btn-info" onclick="importProduct()" type="button" style="float: right; margin-right: 10px; clear: both">cập nhật</button>
    {{/isAdmin}}
  </div>
  <div class="modal fade" id="cannotdelete" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Lỗi</h4>
        </div>
        <div class="modal-body">
          <p>Không thể xóa sản phẩm !</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteProductModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cảnh báo</h4>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa sản phẩm này?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger deleteProdcutBtn" data-dismiss="modal">Xóa</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="importProductModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nhập hàng</h4>
        </div>
        <div class="modal-body">
          <form method="post">
            <label for="name">tên hàng</label>
            <input class="form-control" type="text" id="name" readonly name="name" />
            <label for="amount">Số lượng</label>
            <input class="form-control" type="number" name="amount" />
            <label for="amount">Kho</label>
            <select name="storage" id="storage" class="form-control">
              {{#storages}}
                <option value="{{Id}}">{{Name}}</option>
              {{/storages}}
            </select>
            <label for="date">Ngày nhập</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
              <input type="text" class="form-control" id="date" name="import_date">
              <div class="input-group-addon">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
            </div>
            <input type="hidden" name="Id" class="productId"/>
            <input type="hidden" name="act" value="import" />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info">Nhập</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exportProductModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Xuất hàng</h4>
        </div>
        <div class="modal-body">
          <form method="post">
            <label for="name">tên hàng</label>
            <input class="form-control" type="text" id="name" readonly name="name" />
            <label for="amount">Số lượng</label>
            <input class="form-control" type="number" name="amount" />
            <label for="amount">Kho</label>
            <select name="storage" id="storage" class="form-control">
              {{#storages}}
                <option value="{{Id}}">{{Name}}</option>
              {{/storages}}
            </select>
            <label for="date">Ngày xuất</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
              <input type="text" class="form-control" id="date" name="import_date">
              <div class="input-group-addon">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
            </div>
            <input type="hidden" name="Id" class="productId"/>
            <input type="hidden" name="act" value="export" />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info">Xuất</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{{> bottom}}